@media only screen and (max-width: 1079px) {
	.footer {
		left: 0;
		bottom: 0;
		background-color: black;
		opacity: 0.75;
		height: 225px;
		width: 100%;
		&-logo {
			&-img {
				margin-top: 25px;
				margin-left: 30px;
				width: 125px;
				height: auto;
				filter: invert(1);
			}
		}
		&-list {
			list-style: none;
			margin-left: -10px;
			a {
				text-decoration: none;
				color: white;
				line-height: 32px;
				font-family: Roboto;
			}
			.fas {
				color: white;
				margin-right: 6px;
			}
			#fas {
				transform: rotate(-45deg);
				margin-right: 0px;
			}
		}
	}
}
