@mixin starter-animation {
	animation: starter-load 1s 2.5s linear;
	animation-fill-mode: forwards;
	@keyframes starter-load {
		0% {
			opacity: 0;
			transform: translateX(-50px);
		}
		25% {
			opacity: 1;
			transform: translateX(0px);
		}
		50%{
			opacity: 1;
			transform: translateX(0px);
		}
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}
@mixin dishes-animation {
	animation: dishes-load 1s 2.5s linear;
	animation-fill-mode: forwards;
	@keyframes dishes-load {
		0% {
			opacity: 0;
			transform: translateX(-50px);
		}
		25% {
			opacity: 0;
			transform: translateX(-50px);
		}
		50%{
			opacity: 1;
			transform: translateX(0px);
		}
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}
@mixin dessert-animation {
	animation: dessert-load 1s 2.5s linear;
	animation-fill-mode: forwards;
	@keyframes dessert-load {
		0% {
			opacity: 0;
			transform: translateX(-50px);
		}
		25% {
			opacity: 0;
			transform: translateX(-50px);
		}
		50%{
			opacity: 0;
			transform: translateX(-50px);
		}
		100% {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}
